<div class="d-flex justify-content-center title">
    <h1>App chat</h1>
</div>

<div class="message d-flex justify-content-center">
    <ul id="messages"></ul>
</div>

<div class="chat-form d-flex justify-content-center">
    <form id="chat-form" class="row g-3">
        <div class="col-auto">
            <input type="text" id="chat-mes" class="form-control">
        </div>
        <div class="col-auto">
            <button type="button" id="send-chat" class="btn btn-primary">Gửi</button>
        </div>
    </form>
</div>